<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%=h page_title %></title>
    <meta name="description" content="<%=h page_description %>" />
    <meta name="keywords" content="<%=h page_keywords %>" />
    <meta name="copyright" content="<%=h page_copyright %>" />
    <meta name="author" content="<%=h page_author %>" />
    <meta name="generator" content="<%=h page_generator %>" />
    <%= include_required_css %>
    <%= include_required_js  %>
    <%= include_inline_css   %>
    <%= include_inline_js    %>
  </head>
  <!-- you can override this layout at slices/lpl-core/app/views/layout/lpl-core.html.erb -->
  <body id="<%= bodytag_id %>" class="<%= bodytag_classname %>">
  <div id="container">
    <div id="lpl_core_main"><%= partial 'core/main' %></div>
    <div id="lpl_core_header"><%= partial 'core/header' %></div>
    <div id="lpl_core_sidebar"><%= partial 'core/sidebar' %></div>
    <div id="lpl_core_feedback"><%= partial 'core/feedback' %></div>
    <div id="lpl_core_inspector"><%= partial 'core/inspector' %></div>
    <div id="lpl_core_shelf"><%= partial 'core/shelf' %></div>
  </div>
</body>
</html>